<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        フォロワー一覧
      </h1>
    </div>
  </div>
</section>

<%= render 'users', users: @followers %>

<div class="paginate">
<%= paginate @followers %>
</div>