<section class="section">
 <article class="media">
    <div class="media-content">
      <div class="content has-text-left">
        <p>
          <strong class="" style="font-family: serif; font-size: 90px;">Baby's <br> Fashions</strong>
        </p>
      </div>

      <div class="columns is-centered">
        <div class="column is-5">
          <%= link_to "新規登録", signup_path, class: "button is-rounded is-fullwidth" %>
          <br>
          <%= link_to "ログイン", login_path, class: "button is-rounded is-dark is-fullwidth" %>
          <br>
          
        </div>
      </div>
    </div>
  </article>
</section>
