<section class="section">
 <article class="media">
    <div class="media-content">
      <div class="content has-text-left">
        <p>
          <strong class="" style="font-family: serif; font-size: 90px;">Baby's <br> Fashions</strong>
        </p>
      </div>
      <div class="scroll has-text-left">
        <p>
          <span class="" style="font-family: serif; font-size: 40px;">子供におしゃれとぬくもりを！</span>
        </p>
      </div>
      
      <div class="columns is-centered">
        <div class="column is-5">
          <% unless logged_in? %>
          <%= link_to "新規登録", signup_path, class: "button is-rounded is-fullwidth" %>
          <br>
          <%= link_to "ログイン", login_path, class: "button is-rounded is-dark is-fullwidth" %>
          <br>
          <% end %>
        </div>
      </div>
      <div class="content has-text-centered">
        <p>
          <strong class="" style="font-family: serif; font-size: 20px;">手作りした子供の服の作り方を閲覧できるサイトです。</br>
          登録すれば投稿することも可能！</strong>
        </p>
      </div>
    </div>
  </article>
</section>
